{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <div class="d-flex justify-content-center mb-1">
                <a type="nav-link" class="btn btn-warning" href="{{ path('new_games') }}">Добавить игру</a><br>
            </div>
        {% endif %}
        {% for games in games %}
            <div class="media d-flex">
                <img class="img-media"
                     src="{{ asset('uploads/img/' ~ games.img) }}"
                     alt="Generic placeholder image">
                <div class="media-body ms-5">
                    <a href="{{ path('games_show', {'slug': games.slug}) }}">{{ games.title }}</a><br><br>
                    <span>{{ games.getCreatedAt() | date("d/m/Y") }}</span><br>
                    <hr>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}